services:
  app:
    image: mbilal/admin-panel:latest
    environment:
      - CONNECTION_STRING=mongodb://host.docker.internal:27017/first_NodeJS_Project
      - LOG_LEVEL=info
      - FILE_UPLOAD_PATH=/data/uploads
    ports:
      - 3000:3000
    # network_mode: host